<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/app/home_Page.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
</head>

<!-- <style>
  body{
    background-color: red;
  }
</style> -->
<body>


  <!-- <header id="navbar-header">

    <nav>

    </nav>
  </header> -->

    

    <div class="navbar-header">

        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Mero Ghar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">

        
                <div class="nav-item nav-rent">
                  <p>FOR RENT</p>

                  <div class="navBar-rent-dropBox hide-navbar-dropBox">
                    <div class="dropBox-container">
                      <div class="dropBox">
                        <div class="dropBox-first">
                          <div class="options">
                            <h4>RENT A HOME</h4>
                            <h4>PG/CO-LIVING</h4>
                            <h4>ADVICE AND HELP</h4>
                          </div>
                          <div class="dropBox-contact">
                            <p id="contact-us" >Contact us on</p>
                            <p id="number">9848906314</p>
                          </div>
  
                        </div>
                        <div class="dropBox-second">
  
                          <div class="cities-container">
  
                            <div class="cities-options">
  
                              <div class="cities">
                                <p id="cities-header">TOP CITIES</p>
  
                                <div class="properties">
                                  <a href="">
                                    <p>Property in Kathmandu</p>
                                  </a>
                                </div>
  
                                <div class="properties">
                                  <a href="">
                                    <p>Property in Kathmandu</p>
                                  </a>
                                </div>
                                <div class="properties">
                                  <a href="">
                                    <p>Property in Kathmandu</p>
                                  </a>
                                </div>
                                <div class="properties">
                                  <a href="">
                                    <p>Property in Kathmandu</p>
                                  </a>
                                </div>
  
                              </div>
                              <div class="city-image">
                                <img src="/static/images/download.jpg" alt="">
                              </div>
                            </div>
  
                          </div>
                          <div class="drop-box-emails">
                            <p>Email us at: <span>parmitbhattarai@gmail.com</span></p>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="nav-item nav-sale">
                  <p>FOR SALE</p>

                  <div class="navBar-sale-dropBox hide-navbar-dropBox">
                    <div class="dropBox-container">
                      <div class="dropBox">
                        <div class="dropBox-first">
                          <div class="options">
                            <h4>BUY A HOME</h4>
                            <h4>APPARTMENT</h4>
                            <h4>ADVICE AND HELP</h4>
                          </div>
                          <div class="dropBox-contact">
                            <p id="contact-us" >Contact us on</p>
                            <p id="number">9848906314</p>
                          </div>
  
                        </div>
                        <div class="dropBox-second">
  
                          <div class="cities-container">
  
                            <div class="cities-options">
  
                              <div class="cities">
                                <p id="cities-header">TOP CITIES</p>
  
                                <div class="properties">
                                  <a href="">
                                    <p>Property in Kathmandu</p>
                                  </a>
                                </div>
  
                                <div class="properties">
                                  <a href="">
                                    <p>Property in Kathmandu</p>
                                  </a>
                                </div>
                                <div class="properties">
                                  <a href="">
                                    <p>Property in Kathmandu</p>
                                  </a>
                                </div>
                                <div class="properties">
                                  <a href="">
                                    <p>Property in Kathmandu</p>
                                  </a>
                                </div>
  
                              </div>
                              <div class="city-image">
                                <img src="/static/images/download.jpg" alt="">
                              </div>
                            </div>
  
                          </div>
                          <div class="drop-box-emails">
                            <p>Email us at: <span>parmitbhattarai@gmail.com</span></p>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>

                

                <li class="nav-item navbar-post-property">
                  <a class="nav-link" href="{% url 'post_property' %}">POST PROPERTY</a>
                </li>



                <li class="nav-item headphone-link">
                    <div class="headphone">
                      <i class="fa-solid fa-headphones-simple"></i>
                    </div>
                    

                    <div class="navbar-headphone-dropbox">
                      <div class="drop-body">
                        <h5>Contact Us</h5>

                        <div class="contact-1">
                          <i class="fa-solid fa-phone"></i>
                          <div class="contact-1-numbers">
                            <p id="call-title">Call Free | 9 AM-8 PM</p>
                            <p id="call-number">9848906314</p>

                          </div>
                        </div>

                        <div class="contact-2">
                          <i class="fa-solid fa-phone"></i>
                          <div class="contact-1-numbers">
                            <p id="call-title">Call Free | 9 AM-8 PM</p>
                            <p id="call-number">9811558760</p>
                          </div>
                        </div>

                        <div class="call-btn">
                          <i class="fa-solid fa-phone"></i>
                          Request a call
                        </div>

                      </div>
                    </div>
                </li>


                <li class="nav-item profile-link"> 
                  <div class="profile-section">
                    {% if request.user.is_authenticated %}
                      <div class="authenticated-profile">
                        <p>PB</p>
                      </div>
                    {% else %}
                      <div class="anonymous-profile">
                        <!-- <p>AB</p> -->
                        <i class="fa-solid fa-user"></i>
                      </div>
                    {% endif %}

                    <i class="fa-solid fa-chevron-down profile-arrow-icon"></i>
                  </div>

                  <div class="navbar-profile-section-dropbox">
                      <div class="profile-section-body">

                        {% if request.user.is_authenticated %}
                        <h5>Pramit Bhattarai</h5>

                        <div class="profile-section-list">
                          <a href="">
                            <div class="logo options-list">
                              <p>Mero Ghar</p>
                            </div>
                          </a>

                          <a href="{% url 'property-list' %}">
                            <div class="logo options-list">
                              <p>Manage Properties</p>
                            </div>
                          </a>

                          <a href="{% url 'profilePage'  request.user.id %}">
                            <div class="logo options-list">
                              <p>Manage Profile</p>
                            </div>
                          </a>

                          <a href="">
                            <div class="logo options-list">
                              <p>Change Password</p>
                            </div>
                          </a>

                          <a href="{% url 'logout' %}">
                            <div class="logo options-list">
                              <p>Logout</p>
                            </div>
                          </a>

                          <hr>
                        </div>
                        {% else%}


                        <div class="login_register">
                          <h5 id="profile-link-login-register-btn" >Login/Register</h5>
                        </div>

                        {% endif %}
                      </div>

                  </div>
                  
                </li>

                <div class="nav-item">
                  
                    <i class="menu fa-solid fa-bars sidebar-toggle-menu"></i>
                  
                </div>
              </ul>
            </div>
          </div>
          
        </nav>


        <div class="overlay"></div>

        <div class="side-bar-nav hide_side_nav_bar">
            <div class="side-bar-body">
              <div class="top-header">
                <div class="top-header-body">
                  <div class="profile-section">
                    <div class="image">
                      <img src="" alt="">
                    </div>
                    <p>Pramit Bhattarai</p>
                    <i class="fa-solid fa-angle-down"></i>
                  </div>
                  <i class="fa-solid fa-xmark close"></i>
                </div>

                <div class="top-header-drop">
                  <div class="drop-section">
                    <a href=""><p>Mero Ghar</p></a>
                    <a href=""><p>Manage listing</p></a>
                    <a href=""><p>Manage Profile</p></a>
                    <a href=""><p>Chanage Password</p></a>
                    <a href="{% url 'logout' %}"><p>Logout</p></a>
                  </div>
                </div>

              </div>

              <div class="top-body">

                <a href="{% url 'post_property' %}">
                  <div class="post-property">
                    <div class="post-property-body">
                      <p>POST YOUR PROPERTY</p>
                      <!-- <a href="">POST YOUR PROPERTY</a> -->
                    </div>
                    
                    <div id="hr"></div>
                  </div>
                </a>

                <a href="">
                  <div class="for-renters">
                    <div class="renter-body">
                      <i class="fa-solid fa-caret-right"></i>
                      <p>For Renters</p>
                      <!-- <a href="">For Renter</a> -->
                    </div>
                  </div>
                </a>

                <a href="">
                  <div class="for-sale">
                    <div class="sale-body">
                      <i class="fa-solid fa-caret-right"></i>
                      <p>For Buyers</p>
                    </div>
                    <div id="hr"></div>
                  </div>
                </a>

                <a href="">
                  <div class="aboutus">
                    <div class="aboutus-body">
                      <p>About us</p>
                    </div>
                  </div>
                </a>

                <a href="">
                  <div class="login">
                    <div class="login-body">
                      <p>Login</p>
                    </div>
                  </div>
                </a>

                <a href="">
                  <div class="register">
                    <div class="register-body">
                      <p>Register</p>
                    </div>
                  </div>
                </a>

                <a href="">
                  <div class="changepass">
                    <div class="changepass-body">
                      <p>Change Password</p>
                    </div>
                  </div>
                </a>
                

                <div class="contact-info">
                  <div class="detail-body">
                    <div class="help">
                        <i class="fa-solid fa-phone"></i>
                        <p>Need Help ?</p>
                    </div>
                    <p class="contact-email">you can email us at <span> parmitbhatttarai@gmail.com</span></p>
                    <p class="number">or call us at <span>97666666666</span> </p>
                </div>
                </div>
              </div>
            </div>
        </div>
      
      </div>

      

    <section class="section-container">

        <!-- First-section -->
      <div class="container First-section ">
        <div class="row">
          <div class="col-md-7">
            <h1 class="top-title">Safest way to rent a <br> home</h1>
            <div class="home-feature">
              <div class="features">
                <i class="fa-solid fa-check"></i>
                <p>Sanitized Homes</p>
              </div>
              <div class="features">
                <i class="fa-solid fa-check"></i>
                <p>Vaccinated Staff</p>
              </div>
              <div class="features">
                <i class="fa-solid fa-check"></i>
                <p>Contactless visits</p>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="first-logo">
              <img src="../../static/images/home_logo.png" alt="">
            </div>
          </div>
        </div>


        <div class="row mt-3">
          <div class="form-box">
            <form action="{% url 'room' %}" method="GET" >
              <input type="text" name="loc" placeholder="Enter Location">
              <button class="mt-3" type="submit">Search</button>
            </form>
          </div>
        </div>
      
      </div>


      <!-- Second-Section -->

      <div class="container-fluid second-section">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>Designed <br>for everyone</h2>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4 ">
                  <a href="">
                  <div class="designbox1">
                    <img class="image1" src="../../static/images/section2_image1.png" alt="">
                    <h3>Home for Families</h3>
                    <p>Rent a beautiful house for families choose from flates in society, individual apartment, bunglows & villas</p>
                    <button>EXPLORE HOUSES</button>
                  </div>
                </a>
                </div>
                
                <div  class="col-md-4">
                  <a href="">
                    <div class="designbox2">
                      <img class="image2" src="../../static/images/section2_image2.png" alt="">
                      <h3>Home for Friends</h3>
                      <p>Rent a beautiful house for families choose from flates in society, individual apartment, bunglows & villas</p>
                      <button>EXPLORE HOUSES</button>
                    </div>
                  </a>
                </div>
                <div class="col-md-4 ">
                  <a href="">
                    <div class="designbox3">
                      <img class="image3" src="../../static/images/section2_image3.png" alt="">
                      <h3>Home Just for you</h3>
                      <p>Rent a beautiful house for families choose from flates in society, individual apartment, bunglows & villas</p>
                      <button>EXPLORE HOUSES</button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-------------------- third-section -->

      <section class="third-section">
        <div class="container">
          <h2>Popular Localities in <br> Kathmandu</h2>
          <div class="row">
            <div class="col-md-3">
              <div class="locality1">
                <div class="image">
                  <img src="../../static/images/room_image1.jpg" alt="">
                </div>

                <div class="locality-info">
                  <h2>Baneshowr</h2>
                  <span>Starting Price <p>$6711</p></span>
                  <p class="semi-furnished">Semi furnished</p>
                  <p class="explore">Explore House</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="locality1">
                <div class="image">
                  <img src="../../static/images/room_image1.jpg" alt="">
                </div>

                <div class="locality-info">
                  <h2>Baneshowr</h2>
                  <span>Starting Price <p>$6711</p></span>
                  <p class="semi-furnished">Semi furnished</p>
                  <p class="explore">Explore House</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="locality1">
                <div class="image">
                  <img src="../../static/images/room_image1.jpg" alt="">
                </div>

                <div class="locality-info">
                  <h2>Baneshowr</h2>
                  <span>Starting Price <p>$6711</p></span>
                  <p class="semi-furnished">Semi furnished</p>
                  <p class="explore">Explore House</p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="locality1">
                <div class="image">
                  <img src="../../static/images/room_image1.jpg" alt="">
                </div>

                <div class="locality-info">
                  <h2>Baneshowr</h2>
                  <span>Starting Price <p>$6711</p></span>
                  <p class="semi-furnished">Semi furnished</p>
                  <p class="explore">Explore House</p>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div> -->
          </div>
        </div>
      </section>


      <!-- fourth section -->

      <section class="fourth-section">
        <section class="counter-section">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h2>
                  <span>72,400</span>
                </h2>
                <p>Happy customer</p>
              </div>
              <div class="col-md-3">
                <h2>
                  <span>72,400</span>
                </h2>
                <p>Houses</p>
              </div>
              <div class="col-md-3">
                <h2>
                  <span>13</span>
                </h2>
                <p>Locations</p>
              </div>
              <div class="col-md-3">
                <h2>
                  <span>72,400</span>
                </h2>
                <p>Saving made on brockerage</p>
              </div>
            </div>
          </div>
        </section>
      </section>


      <!------------ fifth section -->


      <section class="fifth-section">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h2>Are you a <br> home owner?</h2>
              <button>LIST YOUR PROPERTY</button>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-3 me-5">
                  <p id="title">Find Verified renter</p>
                  <p>For showing your house to renter, verifying them & managing paperwork we do it all</p>
                  <a href="">Know more</a>
                </div>

                <div class="col-md-3 me-5">
                  <p id="title">Find Verified renter</p>
                  <p>For showing your house to renter, verifying them & managing paperwork we do it all</p>
                  <a href="">Know more</a>
                </div>
                <div class="col-md-3">
                  <p id="title">Find Verified renter</p>
                  <p>For showing your house to renter, verifying them & managing paperwork we do it all</p>
                  <a href="">Know more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!----------------- sixth section -->

      <footer>
        <section class="sixth-section">
          <div class="footer-section">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">
                  <h2>Mero Ghar</h2>
                  <div class="links">
                    <a href="">About us</a>
                    <a href="">send us a message</a>
                    <a href="">Privacy Policy</a>
                  </div>
                </div>
                <div class="col-md-3">
                  <h2>Quick links</h2>
                  <div class="links">
                    <a href="">Popular properties for rent</a>
                    <a href="">Popular properties for sale</a>
                    <a href="">Newly added property</a>
                    <a href="">property for rent</a>
                  </div>
                </div>
                <div class="col-md-3">
                  <h2>Related Links</h2>
                  <div class="links">
                    <a href="">Premium Property</a>
                    <a href="">General Property</a>
                    <a href="">Properties in Kathmandu</a>
                    <a href="">Properties in Bhaktapur</a>
                    <a href="">Properties in Lalitpur</a>
                  </div>
                </div>
                <div class="col-md-3">
                  <h2>Contact US</h2>
                  <div class="links">
                    <div class="location">
                      <i class="fa-solid fa-location-dot"></i>
                      <p>Virinchi College, Kumaripati, lalitpur</p>
                    </div>
                    <div class="contact">
                      <i class="fa-solid fa-phone"></i>
                      <p>(+977) 9848906314</p>
                    </div>
                    <div class="email">
                      <i class="fa-solid fa-envelope"></i>
                      <p>parmitbhattarai@gmail.com</p>
                    </div>
                    <h3>Find us on:</h3>
                    <div class="social">
                      <i class="fa-brands fa-linkedin"></i>
                      <i class="fa-brands fa-instagram-square"></i>
                      <i class="fa-brands fa-git"></i>
                      <i class="fa-brands fa-facebook"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </section>
      </footer>

      <div class="overlay-2"></div>

      <div class="login_register_container">

        <div class="form-step form1 form-active ">
          <div class="form1-header">
            <h4>Sign in</h4>
            <i class="fa-solid fa-xmark login-register-closeBtn"></i>
          </div>

          <form action="{% url 'login' %}" method="POST" id="login-form">
            {% csrf_token %}
            <div class="form-input">
              <label for="">Enter your email address</label>
              <input type="text" name="email" placeholder="ENTER YOUR EMAIL ADDRESS..">
            </div>
           
            <div class="form-input">
              <label for="">Password</label>
              <input type="password" name="password" placeholder="PASSWORD">
            </div>
            
            <div class="forgot-password">
              <a href="">Forgot password?</a>
            </div>

            <button type="submit">Login</button>

            <div class="register_div">
              <span>Dont  have an account? <p id="signup-btn">Sign Up</p></span>
            </div>
          </form>
        </div>
        <!-- --------register-------- -->

        <div class="form-step form2 ">

          <div class="form2-header">
            <h4>Sign Up</h4>
            <i class="fa-solid fa-xmark login-register-closeBtn"></i>
          </div>

          <form action="{% url 'register' %}" method="POST" id="register-form">
            {% csrf_token %}
            <!-- {% for field in forms %}
            <div class="form-input">
              <label for="">{{field.label}}</label>
              <input type="text" name="email" placeholder="FIRST NAME">
              {{field}}
            </div>
            {% endfor %} -->
            <div class="form-input-names">
              {{forms.first_name}}
              {{forms.last_name}}
            </div>

            <div class="form-input">
              {{forms.email}}
            </div>
           
            <div class="form-input">
              {{forms.phone}}
            </div>

            <div class="form-input">
              {{forms.password1}}

            </div>

            <div class="form-input">
              {{forms.password2}}

            </div>
          
            <button type="submit">Sign Up</button>

            <div class="term_and_services_div">
              <span>By Signing up, I agree the Mero Ghar<a href="">Term of Use</a> and <a href="">Privacy Policy</a></span>
            </div>

            <div class="barrier-line">
              <div></div>
              <p>OR</p>
              <div></div>
            </div>

            <div class="signIn_div">
              <span>Have an account with us? <p id="signin-btn" >Login</p></span>
            </div>
          </form>
        </div>


      </div>  
    </section>



    <script>  

      var user = "{{user}}"

      console.log(user)

      let menuBar = document.querySelector('.sidebar-toggle-menu')
      let side_nav_bar = document.querySelector('.side-bar-nav')
      let xMark = document.querySelector('.fa-xmark')
      let bodySectionContainer = document.querySelector('.section-container')
      let navRent = document.querySelector('.nav-rent')
      let navSale = document.querySelector('.nav-sale')
      let navbarRentDropbox = document.querySelector('.navBar-rent-dropBox')
      let navbarSaleDropbox = document.querySelector('.navBar-sale-dropBox')

      let headPhoneLink = document.querySelector('.headphone-link')
      let headPhoneDropBox = document.querySelector('.navbar-headphone-dropbox')

      let profileLink = document.querySelector('.profile-link')
      let profileDropBox = document.querySelector('.navbar-profile-section-dropbox')
      let profileArrowIcon = document.querySelector('.profile-arrow-icon')

      let postProperty = document.querySelector('.navbar-post-property')
      let overlay =  document.querySelector('.overlay')
      let overlay2 =  document.querySelector('.overlay-2')
      let login_register_container = document.querySelector('.login_register_container')
      let loginRegisterCloseBtn = document.querySelectorAll('.login-register-closeBtn')
      

      let formStep = document.querySelectorAll('.form-step')
      let signUpBtn = document.getElementById('signup-btn')
      let signInBtn = document.getElementById('signin-btn')

      // let profileLinkLoginRegisterBtn = document.getElementById('profile-link-login-register-btn')






      signUpBtn.addEventListener('click', () =>{
        updateForm(1)
      })

      signInBtn.addEventListener('click', () =>{
        updateForm(0)
      })


      loginRegisterCloseBtn.forEach((btn) =>{
        btn.addEventListener('click', () =>{
          overlay2.style.display = "none"
          login_register_container.style.display = 'none'
        })
      })


      function updateForm(index){
        formStep.forEach((Form) =>{
          Form.classList.contains('form-active')
          Form.classList.remove('form-active')

        })

        formStep[index].classList.add('form-active')
      }

      

      postProperty.addEventListener('click', (e) =>{

        if(user == 'authenticated'){
          return
        } else{
          e.preventDefault()
          overlay2.style.display = "block"
          login_register_container.style.display = 'block'
          console.log("hello")

        }
        
      })


      // ===========================Profile Link Section==============================

      profileLink.addEventListener('mouseover', () =>{

        profileDropBox.style.display = "block"
        profileArrowIcon.classList.remove('fa-chevron-down')
        profileArrowIcon.classList.add('fa-chevron-up')


      })



      profileLink.addEventListener('mouseout', () =>{
        
        profileDropBox.style.display = "none"
        overlay.style.display = "none"

        profileArrowIcon.classList.remove('fa-chevron-up')
        profileArrowIcon.classList.add('fa-chevron-down')

        // navbarDropbox.classList.add('hide-navbar-dropBox')
        // overlay.style.display = "none"

      })



      profileDropBox.addEventListener('click', (e) =>{

        const profileLinkLoginRegisterBtn = e.target.closest('.login_register')

        if(profileLinkLoginRegisterBtn){
          profileDropBox.style.display = 'none'
          overlay2.style.display ="block"
          login_register_container.style.display = 'block'
        }
      })



      
      
      // ===========================Profile Link Section End==============================



      navRent.addEventListener('mouseover', () =>{

        navbarRentDropbox.style.display = "block"
        // overlay.style.display = "block"
        // overlay.style.background = "rgba(0,0,0, .1)"
        overlay.style = "display: block; background: rgba(0,0,0, .2);"
        // navbarDropbox.classList.remove('hide-navbar-dropBox')


      })



      navRent.addEventListener('mouseout', () =>{
        
        navbarRentDropbox.style.display = "none"
        overlay.style.display = "none"

        // navbarDropbox.classList.add('hide-navbar-dropBox')
        // overlay.style.display = "none"

      })


      navSale.addEventListener('mouseover', () =>{

        navbarSaleDropbox.style.display = "block"
        // overlay.style.display = "block"
        // overlay.style.background = "rgba(0,0,0, .1)"
        overlay.style = "display: block; background: rgba(0,0,0, .2);"
        // navbarDropbox.classList.remove('hide-navbar-dropBox')


      })



      navSale.addEventListener('mouseout', () =>{
        
        navbarSaleDropbox.style.display = "none"
        overlay.style.display = "none"

        // navbarDropbox.classList.add('hide-navbar-dropBox')
        // overlay.style.display = "none"

      })


      headPhoneLink.addEventListener('mouseover', () =>{

        headPhoneDropBox.style.display = "block"
        // overlay.style.display = "block"
        // overlay.style.background = "rgba(0,0,0, .1)"
        // overlay.style = "display: block; background: rgba(0,0,0, .1);"
        // navbarDropbox.classList.remove('hide-navbar-dropBox')


      })



      headPhoneLink.addEventListener('mouseout', () =>{

        headPhoneDropBox.style.display = "none"
        overlay.style.display = "none"

        // navbarDropbox.classList.add('hide-navbar-dropBox')
        // overlay.style.display = "none"

      })




      menuBar.addEventListener('click', () =>{
        // side_nav_bar.classList.toggle('hide_side_nav_bar')
        // bodySectionContainer.removeEventListener('click', false)

        if(side_nav_bar.classList.contains('hide_side_nav_bar')){
          side_nav_bar.classList.remove('hide_side_nav_bar');
          document.querySelector('.overlay').style.display = 'block'
        }
      })



      function closeSideBar(){
        console.log('test')
         side_nav_bar.classList.add('hide_side_nav_bar');
         document.querySelector('.overlay').style.display = 'none'

      }



      xMark.addEventListener('click', () =>{

        closeSideBar()
      })


      overlay.addEventListener('click', closeSideBar)



      bodySectionContainer.addEventListener('click', ()=>{
        console.log('clicked')
      })



      document.addEventListener('DOMContentLoaded', () =>{
        console.log('ahahh')
        side_nav_bar.classList.add('hide_side_nav_bar')
      })

    </script>

</body>
</html>